body {
  background: #222;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

#todoCard {
  max-width: 500px;
  margin: 0 auto;
}

.todoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #fff;
}

.todoDelete {
  cursor: pointer;
  margin-left: auto;
  height: 1.5rem;
}
